
@model CategoryViewModel


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="Types">Types</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="Colours">Colours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="Materials">Materials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="Styles">Styles</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@{
    string id = (string?)ViewData["CurrentId"];
    if (string.IsNullOrWhiteSpace(id)){ }
else{
    <p>
            <a asp-controller=@("Garment"+id) asp-action="Create">Create New</a>
    </p>
}
}

@if (Model.Types is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Types)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="GarmentTypes" asp-action="Edit" asp-route-id="@item.GarmentTypeID">Edit</a> |
                        <a asp-controller="GarmentTypes" asp-action="Details" asp-route-id="@item.GarmentTypeID">Details</a> |
                        <a asp-controller="GarmentTypes" asp-action="Delete" asp-route-id="@item.GarmentTypeID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if(Model.Colours is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Colours)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="GarmentColours" asp-action="Edit" asp-route-id="@item.GarmentColourID">Edit</a> |
                        <a asp-controller="GarmentColours" asp-action="Details" asp-route-id="@item.GarmentColourID">Details</a> |
                        <a asp-controller="GarmentColours" asp-action="Delete" asp-route-id="@item.GarmentColourID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }



@if (Model.Materials is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Materials)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="GarmentMaterials" asp-action="Edit" asp-route-id="@item.GarmentMaterialID">Edit</a> |
                        <a asp-controller="GarmentMaterials" asp-action="Details" asp-route-id="@item.GarmentMaterialID">Details</a> |
                        <a asp-controller="GarmentMaterials" asp-action="Delete" asp-route-id="@item.GarmentMaterialID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Styles is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Styles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="GarmentStyles" asp-action="Edit" asp-route-id="@item.GarmentStyleID">Edit</a> |
                        <a asp-controller="GarmentStyles" asp-action="Details" asp-route-id="@item.GarmentStyleID">Details</a> |
                        <a asp-controller="GarmentStyles" asp-action="Delete" asp-route-id="@item.GarmentStyleID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
